* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
  display: block;
  margin: 0 auto;
  width: 512px;
  height: 600px;
  border: 1px solid #000;
  /* background: #ccc; */
}

.options {
  width: 512px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
}
.options input,
.options span {
  display: inline-block;
  height: 50px;
}
.options input {
  vertical-align: middle;
  margin-right: 3px;
}
.options span {
  margin-right: 10px;
}